

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 100px);
  gap: 20px;
  margin-bottom: 30px;
}


.item1 {
  background-color: aquamarine;
}

.item2 {
  background-color: chartreuse;
}

.item3 {
  background-color: crimson;
}

.item4 {
  background-color: blue;
}

.item5 {
  background-color: hotpink;
}

.item6 {
  background-color: gold;
}

.container2{

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-template-rows: repeat(2, 100px);
      gap: 20px;
    
}
      
.item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }


